h1{
    text-align: center;
}
label{
    display: block;
}
input{
    display: block;
   margin-bottom: 20px;
   
}

button{
    display: block;
}
.div2{
    margin-left: 100px;
}
.div1{
    margin-left: 100px;
    padding-bottom: 50px;
}